
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="GopiSitecoreTraining.Project.TrainigDemo" description="Write something here about why this configuration exists and what it's for. Or remove the attribute; it's optional.">
					<targetDataStore physicalRootPath="$(sourceFolder)\$(module)\TrainingDemo\Serialization" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>

					<predicate>
						
						<include name="Layouts" database="master" path="/sitecore/layout/Layouts/Project/TRN/TrainingDemo" />
						<include name="ProjectTemplates" database="master" path="/sitecore/templates/Project/TRN" />
						<include name="Content" database="master" path="/sitecore/content/trnwebsite" />
						
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" />

					
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
