<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>

				<configuration name="GopiSitecoreTraining.Feature.BasicContent" description="Write something here about why this configuration exists and what it's for. Or remove the attribute; it's optional.">
					<targetDataStore physicalRootPath="$(sourceFolder)\$(module)\BasicContent\Serialization" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>

					<predicate>

					
						<include name="BasicContentTemplates" database="master" path="/sitecore/templates/Feature/TRN/BasicContent" />
						<include name="BasicContentRendering" database="master" path="/sitecore/layout/Renderings/Feature/TRN/BasicContent" />

					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" />


					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
