
<h1>
    @Html.Sitecore().Field("Student_Name")
</h1>
<div>
    @Html.Sitecore().Field("Student_Department")
</div>
<div>
    @Html.Sitecore().Field("Student_DOB")
</div>
<div>
    @Html.Sitecore().Field("Student_Address")
</div>