
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sitecore TrainingDemo</title>
</head>
<body>
    <div> 
        This is a demo sample text
        @Html.Sitecore().Placeholder("trndemo")
    </div>
</body>
</html>
